__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
staticfiles/
instance/
.webassets-cache
.scrapy
docs/_build/
.idea/
.vscode/
.env
.venv/
venv/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
celerybeat-schedule
.env
.ipynb_checkpoints/
*.swp
*.swo
